In [0]:
!pip3 install -U tensorflow --quiet

In [0]:
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import Normalizer
import pandas as pd

In [8]:
from google.colab import files
uploaded = files.upload()

Saving Churn.csv to Churn.csv

In [0]:
dataset = pd.read_csv('Churn.csv')

In [10]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [12]:
#include relevant columns within x and y
x = dataset.iloc[:, 3:13] # let go of customerid, rownumber and surname as they are not useful for prediction
y = dataset.iloc[:, 13]
x.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [13]:
#deal with categorical data --> encode them

from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()
x.iloc[:, 1] = labelencoder_x.fit_transform(x.iloc[:, 1]) #applying on Geography
x.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0  Female  ...          1               1        101348.88
1          608          2  Female  ...          0               1        112542.58
2          502          0  Female  ...          1               0        113931.57
3          699          0  Female  ...          0               0         93826.63
4          850          2  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [14]:
#apply encoder on Gender as well
labelencoder_x_2 = LabelEncoder()
x.iloc[:, 2] = labelencoder_x_2.fit_transform(x.iloc[:, 2]) #applying on Gender
x.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [0]:
#train and test set split, and feature scaling

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
X_train.shape

(8000, 10)

In [0]:
#Initialize model
tf.keras.backend.clear_session()

In [0]:

# build a model using tensorflow keras
model = tf.keras.Sequential()

#Add Dense layer for prediction - Keras declares weights and bias automatically
model.add(tf.keras.layers.Dense(1, input_shape=(10,)))
model.add(tf.keras.layers.Dense(500, activation='relu'))
model.add(tf.keras.layers.BatchNormalization())
model.add(tf.keras.layers.Dense(100, activation='relu'))
model.add(tf.keras.layers.BatchNormalization())
model.add(tf.keras.layers.Dense(10, activation='relu'))
model.add(tf.keras.layers.BatchNormalization())

#Add Dense Layer which provides 1 Output after applying softmax
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
# as output is binary outcome, and activation should be 'sigmoid'

#If dependent variables have more than two categories, use activation = 'softmax'
#Compile the model - add Loss and Gradient Descent optimizer

#opt_ = tf.keras.optimizers.Adam(learning_rate=0.01, beta_1=0.9, beta_2=0.999, amsgrad=False)
#print(opt_)

model.compile(optimizer= 'Adam', loss="binary_crossentropy", metrics=['accuracy'])

In [96]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1)                 11
_________________________________________________________________
dense_1 (Dense)              (None, 500)               1000
_________________________________________________________________
batch_normalization (BatchNo (None, 500)               2000
_________________________________________________________________
dense_2 (Dense)              (None, 100)               50100
_________________________________________________________________
batch_normalization_1 (Batch (None, 100)               400
_________________________________________________________________
dense_3 (Dense)              (None, 10)                1010
_________________________________________________________________
batch_normalization_2 (Batch (None, 10)                40
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 11
=================================================================
Total params: 54,572
Trainable params: 53,352
Non-trainable params: 1,220
_________________________________________________________________

In [111]:
model.fit(X_train, Y_train, 
          validation_data=(X_test, Y_test), 
          epochs=100,# 20
          batch_size= 20 ) # 50
#X_train, X_test, Y_train, Y_test

Train on 8000 samples, validate on 2000 samples
Epoch 1/100
8000/8000 [==============================] - 1s 186us/sample - loss: 0.3985 - acc: 0.8253 - val_loss: 0.3925 - val_acc: 0.8410
Epoch 2/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3993 - acc: 0.8230 - val_loss: 0.3992 - val_acc: 0.8205
Epoch 3/100
8000/8000 [==============================] - 2s 193us/sample - loss: 0.3996 - acc: 0.8245 - val_loss: 0.3876 - val_acc: 0.8185
Epoch 4/100
8000/8000 [==============================] - 2s 209us/sample - loss: 0.3999 - acc: 0.8226 - val_loss: 0.3821 - val_acc: 0.8295
Epoch 5/100
8000/8000 [==============================] - 2s 203us/sample - loss: 0.4012 - acc: 0.8245 - val_loss: 0.3905 - val_acc: 0.8195
Epoch 6/100
8000/8000 [==============================] - 2s 211us/sample - loss: 0.4014 - acc: 0.8225 - val_loss: 0.3822 - val_acc: 0.8255
Epoch 7/100
8000/8000 [==============================] - 2s 211us/sample - loss: 0.3969 - acc: 0.8264 - val_loss: 0.3864 - val_acc: 0.8340
Epoch 8/100
8000/8000 [==============================] - 2s 221us/sample - loss: 0.3972 - acc: 0.8241 - val_loss: 0.4234 - val_acc: 0.8215
Epoch 9/100
8000/8000 [==============================] - 2s 215us/sample - loss: 0.3971 - acc: 0.8224 - val_loss: 0.4420 - val_acc: 0.8165
Epoch 10/100
8000/8000 [==============================] - 2s 193us/sample - loss: 0.3962 - acc: 0.8248 - val_loss: 0.4116 - val_acc: 0.8190
Epoch 11/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3968 - acc: 0.8231 - val_loss: 0.3812 - val_acc: 0.8250
Epoch 12/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3952 - acc: 0.8264 - val_loss: 0.3893 - val_acc: 0.8125
Epoch 13/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3954 - acc: 0.8209 - val_loss: 0.3809 - val_acc: 0.8320
Epoch 14/100
8000/8000 [==============================] - 1s 183us/sample - loss: 0.3988 - acc: 0.8254 - val_loss: 0.4687 - val_acc: 0.8280
Epoch 15/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.3952 - acc: 0.8242 - val_loss: 0.3800 - val_acc: 0.8325
Epoch 16/100
8000/8000 [==============================] - 2s 198us/sample - loss: 0.3958 - acc: 0.8235 - val_loss: 0.3831 - val_acc: 0.8210
Epoch 17/100
8000/8000 [==============================] - 1s 185us/sample - loss: 0.3940 - acc: 0.8264 - val_loss: 0.3820 - val_acc: 0.8225
Epoch 18/100
8000/8000 [==============================] - 2s 191us/sample - loss: 0.3978 - acc: 0.8224 - val_loss: 0.3798 - val_acc: 0.8220
Epoch 19/100
8000/8000 [==============================] - 2s 199us/sample - loss: 0.3948 - acc: 0.8240 - val_loss: 0.3920 - val_acc: 0.8245
Epoch 20/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3963 - acc: 0.8226 - val_loss: 0.3923 - val_acc: 0.8220
Epoch 21/100
8000/8000 [==============================] - 2s 197us/sample - loss: 0.3938 - acc: 0.8249 - val_loss: 0.3763 - val_acc: 0.8220
Epoch 22/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3960 - acc: 0.8230 - val_loss: 0.3819 - val_acc: 0.8220
Epoch 23/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.3944 - acc: 0.8239 - val_loss: 0.3811 - val_acc: 0.8290
Epoch 24/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3934 - acc: 0.8264 - val_loss: 0.3932 - val_acc: 0.8185
Epoch 25/100
8000/8000 [==============================] - 2s 197us/sample - loss: 0.3938 - acc: 0.8256 - val_loss: 0.3792 - val_acc: 0.8260
Epoch 26/100
8000/8000 [==============================] - 2s 191us/sample - loss: 0.3969 - acc: 0.8234 - val_loss: 0.3785 - val_acc: 0.8315
Epoch 27/100
8000/8000 [==============================] - 1s 186us/sample - loss: 0.3910 - acc: 0.8250 - val_loss: 0.3767 - val_acc: 0.8385
Epoch 28/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3938 - acc: 0.8279 - val_loss: 0.3856 - val_acc: 0.8220
Epoch 29/100
8000/8000 [==============================] - 2s 195us/sample - loss: 0.3924 - acc: 0.8251 - val_loss: 0.3841 - val_acc: 0.8295
Epoch 30/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3922 - acc: 0.8328 - val_loss: 0.3952 - val_acc: 0.8220
Epoch 31/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3948 - acc: 0.8271 - val_loss: 0.3990 - val_acc: 0.8125
Epoch 32/100
8000/8000 [==============================] - 2s 191us/sample - loss: 0.3918 - acc: 0.8260 - val_loss: 0.3769 - val_acc: 0.8410
Epoch 33/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3931 - acc: 0.8267 - val_loss: 0.3853 - val_acc: 0.8390
Epoch 34/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3935 - acc: 0.8259 - val_loss: 0.3830 - val_acc: 0.8230
Epoch 35/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.3917 - acc: 0.8259 - val_loss: 0.3810 - val_acc: 0.8330
Epoch 36/100
8000/8000 [==============================] - 2s 200us/sample - loss: 0.3899 - acc: 0.8311 - val_loss: 0.3887 - val_acc: 0.8215
Epoch 37/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.3905 - acc: 0.8319 - val_loss: 0.3834 - val_acc: 0.8325
Epoch 38/100
8000/8000 [==============================] - 2s 193us/sample - loss: 0.3909 - acc: 0.8299 - val_loss: 0.3781 - val_acc: 0.8405
Epoch 39/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.3923 - acc: 0.8304 - val_loss: 0.3805 - val_acc: 0.8400
Epoch 40/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.3928 - acc: 0.8321 - val_loss: 0.3882 - val_acc: 0.8235
Epoch 41/100
8000/8000 [==============================] - 2s 193us/sample - loss: 0.3889 - acc: 0.8325 - val_loss: 0.3852 - val_acc: 0.8345
Epoch 42/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.3910 - acc: 0.8299 - val_loss: 0.3733 - val_acc: 0.8495
Epoch 43/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3927 - acc: 0.8320 - val_loss: 0.3825 - val_acc: 0.8330
Epoch 44/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.3921 - acc: 0.8295 - val_loss: 0.3734 - val_acc: 0.8475
Epoch 45/100
8000/8000 [==============================] - 2s 205us/sample - loss: 0.3894 - acc: 0.8342 - val_loss: 0.3918 - val_acc: 0.8205
Epoch 46/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3925 - acc: 0.8315 - val_loss: 0.3841 - val_acc: 0.8205
Epoch 47/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3898 - acc: 0.8363 - val_loss: 0.3723 - val_acc: 0.8455
Epoch 48/100
8000/8000 [==============================] - 2s 191us/sample - loss: 0.3903 - acc: 0.8322 - val_loss: 0.3769 - val_acc: 0.8450
Epoch 49/100
8000/8000 [==============================] - 2s 202us/sample - loss: 0.3874 - acc: 0.8335 - val_loss: 0.3711 - val_acc: 0.8450
Epoch 50/100
8000/8000 [==============================] - 2s 193us/sample - loss: 0.3885 - acc: 0.8330 - val_loss: 0.3740 - val_acc: 0.8485
Epoch 51/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.3910 - acc: 0.8303 - val_loss: 0.3722 - val_acc: 0.8480
Epoch 52/100
8000/8000 [==============================] - 2s 197us/sample - loss: 0.3916 - acc: 0.8325 - val_loss: 0.3837 - val_acc: 0.8345
Epoch 53/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3907 - acc: 0.8306 - val_loss: 0.3833 - val_acc: 0.8385
Epoch 54/100
8000/8000 [==============================] - 2s 191us/sample - loss: 0.3889 - acc: 0.8370 - val_loss: 0.3815 - val_acc: 0.8290
Epoch 55/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.3893 - acc: 0.8356 - val_loss: 0.3787 - val_acc: 0.8375
Epoch 56/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3930 - acc: 0.8320 - val_loss: 0.4011 - val_acc: 0.8115
Epoch 57/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.3882 - acc: 0.8304 - val_loss: 0.3889 - val_acc: 0.8245
Epoch 58/100
8000/8000 [==============================] - 2s 206us/sample - loss: 0.3886 - acc: 0.8342 - val_loss: 0.3762 - val_acc: 0.8495
Epoch 59/100
8000/8000 [==============================] - 2s 193us/sample - loss: 0.3884 - acc: 0.8347 - val_loss: 0.3789 - val_acc: 0.8415
Epoch 60/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3896 - acc: 0.8340 - val_loss: 0.3828 - val_acc: 0.8370
Epoch 61/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.3900 - acc: 0.8356 - val_loss: 0.3789 - val_acc: 0.8405
Epoch 62/100
8000/8000 [==============================] - 1s 185us/sample - loss: 0.3921 - acc: 0.8319 - val_loss: 0.3774 - val_acc: 0.8350
Epoch 63/100
8000/8000 [==============================] - 1s 185us/sample - loss: 0.3909 - acc: 0.8295 - val_loss: 0.3734 - val_acc: 0.8445
Epoch 64/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3885 - acc: 0.8314 - val_loss: 0.3823 - val_acc: 0.8455
Epoch 65/100
8000/8000 [==============================] - 2s 195us/sample - loss: 0.3883 - acc: 0.8303 - val_loss: 0.3748 - val_acc: 0.8480
Epoch 66/100
8000/8000 [==============================] - 2s 195us/sample - loss: 0.3853 - acc: 0.8330 - val_loss: 0.3930 - val_acc: 0.8395
Epoch 67/100
8000/8000 [==============================] - 2s 191us/sample - loss: 0.3888 - acc: 0.8332 - val_loss: 0.3911 - val_acc: 0.8305
Epoch 68/100
8000/8000 [==============================] - 2s 196us/sample - loss: 0.3879 - acc: 0.8374 - val_loss: 0.3863 - val_acc: 0.8375
Epoch 69/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.3879 - acc: 0.8351 - val_loss: 0.3785 - val_acc: 0.8350
Epoch 70/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.3860 - acc: 0.8345 - val_loss: 0.3956 - val_acc: 0.8300
Epoch 71/100
8000/8000 [==============================] - 1s 185us/sample - loss: 0.3874 - acc: 0.8315 - val_loss: 0.3732 - val_acc: 0.8500
Epoch 72/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3892 - acc: 0.8311 - val_loss: 0.3698 - val_acc: 0.8450
Epoch 73/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3881 - acc: 0.8336 - val_loss: 0.3834 - val_acc: 0.8505
Epoch 74/100
8000/8000 [==============================] - 2s 193us/sample - loss: 0.3888 - acc: 0.8353 - val_loss: 0.3712 - val_acc: 0.8415
Epoch 75/100
8000/8000 [==============================] - 2s 202us/sample - loss: 0.3890 - acc: 0.8350 - val_loss: 0.3806 - val_acc: 0.8440
Epoch 76/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3868 - acc: 0.8342 - val_loss: 0.3785 - val_acc: 0.8365
Epoch 77/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3864 - acc: 0.8349 - val_loss: 0.3734 - val_acc: 0.8400
Epoch 78/100
8000/8000 [==============================] - 1s 185us/sample - loss: 0.3862 - acc: 0.8339 - val_loss: 0.3755 - val_acc: 0.8460
Epoch 79/100
8000/8000 [==============================] - 1s 184us/sample - loss: 0.3877 - acc: 0.8360 - val_loss: 0.3789 - val_acc: 0.8255
Epoch 80/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3857 - acc: 0.8347 - val_loss: 0.3786 - val_acc: 0.8305
Epoch 81/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3869 - acc: 0.8349 - val_loss: 0.3790 - val_acc: 0.8415
Epoch 82/100
8000/8000 [==============================] - 1s 185us/sample - loss: 0.3878 - acc: 0.8321 - val_loss: 0.3769 - val_acc: 0.8330
Epoch 83/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.3898 - acc: 0.8330 - val_loss: 0.3787 - val_acc: 0.8470
Epoch 84/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3887 - acc: 0.8341 - val_loss: 0.3806 - val_acc: 0.8370
Epoch 85/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.3883 - acc: 0.8359 - val_loss: 0.3706 - val_acc: 0.8485
Epoch 86/100
8000/8000 [==============================] - 1s 186us/sample - loss: 0.3883 - acc: 0.8344 - val_loss: 0.3726 - val_acc: 0.8465
Epoch 87/100
8000/8000 [==============================] - 2s 196us/sample - loss: 0.3874 - acc: 0.8385 - val_loss: 0.3773 - val_acc: 0.8365
Epoch 88/100
8000/8000 [==============================] - 2s 210us/sample - loss: 0.3868 - acc: 0.8342 - val_loss: 0.3695 - val_acc: 0.8485
Epoch 89/100
8000/8000 [==============================] - 2s 197us/sample - loss: 0.3863 - acc: 0.8342 - val_loss: 0.3751 - val_acc: 0.8440
Epoch 90/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3865 - acc: 0.8347 - val_loss: 0.3749 - val_acc: 0.8430
Epoch 91/100
8000/8000 [==============================] - 2s 196us/sample - loss: 0.3889 - acc: 0.8339 - val_loss: 0.3715 - val_acc: 0.8370
Epoch 92/100
8000/8000 [==============================] - 2s 194us/sample - loss: 0.3864 - acc: 0.8366 - val_loss: 0.3761 - val_acc: 0.8430
Epoch 93/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3882 - acc: 0.8335 - val_loss: 0.3873 - val_acc: 0.8435
Epoch 94/100
8000/8000 [==============================] - 2s 216us/sample - loss: 0.3856 - acc: 0.8376 - val_loss: 0.3765 - val_acc: 0.8445
Epoch 95/100
8000/8000 [==============================] - 2s 213us/sample - loss: 0.3871 - acc: 0.8330 - val_loss: 0.3753 - val_acc: 0.8440
Epoch 96/100
8000/8000 [==============================] - 2s 209us/sample - loss: 0.3844 - acc: 0.8380 - val_loss: 0.3808 - val_acc: 0.8315
Epoch 97/100
8000/8000 [==============================] - 2s 215us/sample - loss: 0.3859 - acc: 0.8354 - val_loss: 0.3730 - val_acc: 0.8395
Epoch 98/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3875 - acc: 0.8372 - val_loss: 0.3792 - val_acc: 0.8220
Epoch 99/100
8000/8000 [==============================] - 2s 198us/sample - loss: 0.3878 - acc: 0.8330 - val_loss: 0.3762 - val_acc: 0.8420
Epoch 100/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3838 - acc: 0.8370 - val_loss: 0.3716 - val_acc: 0.8400

In [112]:
test_predictions = model.predict(X_test)
test_predictions.shape

(2000, 1)

In [113]:
test_predictions

array([[0.16655135],
       [0.32826945],
       [0.31130448],
       ...,
       [0.03397021],
       [0.13233325],
       [0.12256646]], dtype=float32)

In [114]:
# predict results using 0.5 as a threshold
y_pred = (test_predictions > 0.5)
print(y_pred)

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

In [117]:
print(Y_test)

9394    0
898     1
2398    0
5906    0
2343    0
       ..
1037    0
2899    0
9549    0
2740    0
6690    0
Name: Exited, Length: 2000, dtype: int64

In [115]:
# Compute confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)
print(cm)

[[1520   75]
 [ 245  160]]

In [116]:
print (((cm[0][0]+cm[1][1])*100)/(cm[0][0]+cm[1][1]+cm[0][1]+cm[1][0]), '% of testing data was classified correctly')

84.0 % of testing data was classified correctly