Objectives compare old v/s new sales scheme for a months sales  for 30 sales persons 

1.Find the mean of old scheme and new scheme column. (5 points)
2.Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)
3.What conclusion does the test (p-value) lead to? (2.5 points)
4.Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
        a) The probability of a type 1 error? (2.5 points)

        b) What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)

        c) Power of the test (5 points)

In [2]:
from scipy import stats 
import numpy as np
import pandas as pd

# set up data
sales_df = pd.read_csv('sales.csv')

sales_df.set_index('s_person',drop=True,inplace=True)

In [3]:
sales_df['old_sch'] = sales_df['old_sch'] * 1000

In [4]:
sales_df['new_sch'] = sales_df['new_sch'] * 1000

In [5]:
sales_df.head()

          old_sch  new_sch
s_person
1           57000    62000
2          103000   122000
3           59000    54000
4           75000    82000
5           84000    84000

In [6]:
sales_df['old_sch'].mean() # old mean of sales

68033.33333333333

In [7]:
sales_df['new_sch'].mean() # new mean of sales

72033.33333333333

In [8]:
mean_diff = sales_df['new_sch'].mean() - sales_df['old_sch'].mean()
mean_diff

4000.0

In [9]:
#Q2 :Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

#H0: There is no significant increase from old to new to old sales scheme ie mean-diff = 0
#H1: There is significant increase mean_diff > 0

#We will do  two-sample paired T test since the 2 data sets are related
#A Paired sample t-test compares means from the same group at different times.

In [10]:
from scipy.stats import ttest_rel
t_statistic_zero, p_value_zero = ttest_rel(sales_df['old_sch'],sales_df['new_sch'])
print(t_statistic_zero, p_value_zero)

-1.5559143823544377 0.13057553961337662

In [11]:
# alpha = 0.05 as this is a 1 tailed test [ undirectional]
# reject H0 if P value if p value is > 0.05. 
# In this case P value > 0.05 hence it falls in the region of rejection , do not reject H0 . 
# Answer to Q3:thus we will assume that the new mean increase with the new scheme  does not help in raising the sales.

In [12]:
# Q4 - new mean - old mean = mean_diff = 5000 to break even
# Thus using  hypothesis 
#H0 : mean_diff <= 5000
#H1: mean_diff > 5000
# we again to  Paired sample t-test which compares means from the same group at different times. It will be a right tailed test.

In [13]:
tstat, pV = ttest_rel(sales_df['old_sch'],sales_df['new_sch'])
print(tstat, pV)

-1.5559143823544377 0.13057553961337662

In [44]:
#x_bar at t critical is 
# calculate the critical value
from scipy.stats import t
t_critical =  - t.ppf(1.0 - 0.95, 29)
t_critical

1.6991270265334972

In [108]:

sales_diff_sd = (sales_df['new_sch'] - sales_df['old_sch']).std()
se = sales_diff_sd / (30 ** 0.5)
x_critical =   t_critical*se

In [110]:
new_tstat = (x_critical - 5000)/se

In [111]:
beta = stats.t.sf(new_tstat, 29)
beta

0.5962027475205683

In [112]:
power = 1 - beta
power

0.40379725247943166

In [101]:
#power of the test (1- beta) = 0.404

In [ ]:
#